{% extends 'base.html' %}

{% block meta %}
    {{ block.super }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <title>Beli Langganan</title>
{% endblock meta %}

{% block content %}
    {{ block.super }}
    <h1
        class="pt-20 m-4 text-4xl font-bold leading-none tracking-tight text-gray-900 md:text-4xl lg:text-5xl dark:text-gray-900 text-center">
        Daftar Kontributor
    </h1>

    <form class="m-4 max-w-sm" method="get">
        <label for="filter" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Filter by</label>
        <select id="filter" onchange="this.form.submit()" name="filter"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option selected>Pilih filter</option>
            <option value="all">Semua</option>
            <option value="pemain">Pemain</option>
            <option value="sutradara">Sutradara</option>
            <option value="skenario">Penulis Skenario</option>
        </select>
    </form>

    <div class="m-4 relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Nama
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Tipe
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Jenis Kelamin
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Kewarganegaraan
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for c in contributors %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{ c.nama }}
                    </th>
                    <td class="px-6 py-4">
                        {{ c.type }}
                    </td>
                    <td class="px-6 py-4">
                        {{ c.jenis_kelamin }}
                    </td>
                    <td class="px-6 py-4">
                        {{ c.kewarganegaraan }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
{% endblock content %}