{% extends 'base.html' %} {% block meta %} {{ block.super }}
<title>Pacilflix - Halaman Ulasan</title>
{% endblock meta %} {% block content %} {{ block.super }}
<div class="px-10 py-2 mx-10 mt-5">
  <h1
    class="my-10 text-center text-xl font-bold leading-none text-gray-900 dark:text-white"
  >
    BAGIAN ULASAN
  </h1>
  {% for title in titles %}
  <h1
    class="my-10 text-center text-xl font-bold leading-none text-gray-900 dark:text-white"
  >
    {{ title.judul }}
  </h1>
  {% endfor %} {% if already_reviewed %}
  <h1
    class="my-10 text-center text-xl font-bold leading-none text-red-900 dark:text-red"
  >
    Error: Anda sudah melakukan review pada tayangan ini
  </h1>
  {% endif %}

  <div class="mx-10 my-5">
    <form method="POST" action="{% url 'create_read_ulasan' %}">
      {% csrf_token %}
      <label for="chat" class="sr-only">Your message</label>
      <div
        class="flex items-center px-3 py-2 rounded-lg bg-gray-50 dark:bg-gray-700"
      >
        <input
          type="hidden"
          name="id_tayangan"
          value="{{ data_id_tayangan }}"
        />
        <textarea
          name="deskripsi"
          id="chat"
          rows="1"
          class="block mx-4 p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Masukkan Ulasan disini"
        ></textarea>
        <input
          name="rating"
          type="number"
          id="number-input"
          aria-describedby="helper-text-explanation"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Masukkan Rating"
          required
        />
        <button
          type="submit"
          class="inline-flex justify-center p-2 text-blue-600 rounded-full cursor-pointer hover:bg-blue-100 dark:text-blue-500 dark:hover:bg-gray-600"
        >
          <svg
            class="w-5 h-5 rotate-90 rtl:-rotate-90"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 18 20"
          >
            <path
              d="m17.914 18.594-8-18a1 1 0 0 0-1.828 0l-8 18a1 1 0 0 0 1.157 1.376L8 18.281V9a1 1 0 0 1 2 0v9.281l6.758 1.689a1 1 0 0 0 1.156-1.376Z"
            />
          </svg>
          <span class="sr-only">Send message</span>
        </button>
      </div>
    </form>

    <div class="my-5 px-5 flex justify-center">
      <div
        class="w-full p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700"
      >
        <div class="flex items-center justify-between mb-4">
          <h5
            class="text-xl font-bold leading-none text-gray-900 dark:text-white"
          >
            Ulasan
          </h5>
        </div>

        <article>
          <div class="flow-root">
            <div class="divide-y divide-gray-200 dark:divide-gray-700">
              {% for review in reviews %}
              <div>
                <div class="flex items-center my-4">
                  <svg
                    class="w-[32px] h-[32px] text-gray-800 dark:text-white mr-3"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="none"
                    viewBox="0 0 24 24"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M12 21a9 9 0 1 0 0-18 9 9 0 0 0 0 18Zm0 0a8.949 8.949 0 0 0 4.951-1.488A3.987 3.987 0 0 0 13 16h-2a3.987 3.987 0 0 0-3.951 3.512A8.948 8.948 0 0 0 12 21Zm3-11a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                    />
                  </svg>
                  <div class="font-medium dark:text-white">
                    <p>{{ review.username }}</p>
                  </div>
                </div>
                <div
                  class="flex items-center mb-1 space-x-1 rtl:space-x-reverse"
                >
                  <h3
                    class="text-sm font-semibold text-gray-900 dark:text-white"
                  >
                    Rating: {{ review.rating }}
                  </h3>
                </div>
                <footer class="mb-5 text-sm text-gray-500 dark:text-gray-400">
                  <p>Reviewed on {{ review.timestamp }}</p>
                </footer>
                <p class="mb-2 text-gray-500 dark:text-gray-400">
                  {{ review.deskripsi }}
                </p>
                <a
                  href="#"
                  class="block mb-5 text-sm font-medium text-blue-600 hover:underline dark:text-blue-500"
                  >Read more</a
                >
              </div>
              {% endfor %}
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
